
#game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.col {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 25px;
  font-size: 69px;
  text-align: center;
  min-height: 100px;
  min-width: 100px;
}